---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <h1 class="text-2xl font-bold mb-4">About</h1>

  <div class="prose prose-gray">
    <p>
      Hello! My name's Patrick Connolly, but the internet usually lets me go by
      "patcon".
    </p>
    <p>
      I'm a <strong>software developer</strong> and <strong>civic hacker</strong>. For me, that means that I'm
      interested in the <em>material</em> and the <em>meta</em> of civic life. Which is to say both
      the tangible day-to-day, and the more abstract systems which underpin that.
    </p>
    <p>
      I spend my time trying to help government and civic systems work more like the
      open-source communities I know and love.
    </p>
    <p>
      My primary affiliation (ie. the one I'm most proud of), is being an <strong>animator</strong>
      within the <a href="http://civictech.ca">Civic Tech Toronto</a> community.
    </p>
    <p>
      I like to say that I spend time in spaces that capitalism isn't curious
      about. It's understandably hard to get paid doing that work, so <strong>please
      consider <a href="https://www.patreon.com/patcon">supporting me on Patreon</a></strong> if you've been positively
      affected by things I help maintain!
    </p>
    <p>
      <a href="https://www.patreon.com/patcon">
        <img src="/become_a_patron_button.png" alt="Become A Patron" />
      </a>
    </p>
    <p>
      No amount is too small -- My gratitude isn't tied to any dollar amounts!
      If money isn't the way you move in the world, then no worries :)
    </p>
  </div>
</BaseLayout>
