---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h3>Patrick Connolly</h3>

  <div class="prose prose-gray mt-4">
    <p>
      I often find myself walking through spaces that capitalism isn't curious
      about.
    </p>
    <p>
      Someday there might be more here, but for now, I keep <a href="/notes/">notes</a>.
    </p>
    <p>
      I co-organize with <a href="http://civictech.ca">Civic Tech Toronto</a> as a civic
      technologist. Am prone to wanderings, but actively orbiting Toronto,
      sussing out deeper gravity wells. Sometimes I live in a hammock in the
      park. Minimalist.
    </p>
    <p>
      Find me on <a href="https://twitter.com/patcon_">Twitter</a> (preferred) or <em>patrick.c.connolly@gmail.com</em>.
    </p>
  </div>
</BaseLayout>
